@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <i class="bi bi-emoji-smile-fill"></i></h1>
    <p>Please use the above menu  <i class="bi bi-arrow-bar-up"></i> to navigate.</p>
</div>
